%section#intro
  .inner-container-thin
    %h1 What is this
    %p
      Patio Furniture is a project by 
      %a{:href=>"http://beauhankins.com", :target=>"_newtab"}<= "Beau Hankins"
      %span>= ". It is currently a visual art diary of miscellaneous experiments."
    %br
    %h1 Filter by Tag
    %p
      %a{:href=>"#all",:onclick=>"filterTag('all');return false;"}= "All"
      ,
      %a{:href=>"#experiments",:onclick=>"filterTag('experiments');return false;"}= "Experiments"
      ,
      %a{:href=>"#patio-furniture",:onclick=>"filterTag('patio-furniture');return false;"}= "Patio Furniture"

%section#image-grid
  .inner-container
    #grid.masonry.js-masonry
      .grid-item{:class=>"tag-experiments"}
        = image_tag 'in-frequency.png'
      .grid-item{:class=>"tag-patio-furniture"}
        = image_tag 'pflogo-process.png'